In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
dataset = pd.read_csv("kidney.csv")
dataset.head(10)

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,0,48.0,80.0,1.020,1.0,0.0,NaN,normal,notpresent,notpresent,...,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,1,7.0,50.0,1.020,4.0,0.0,NaN,normal,notpresent,notpresent,...,38,6000,NaN,no,no,no,good,no,no,ckd
2,2,62.0,80.0,1.010,2.0,3.0,normal,normal,notpresent,notpresent,...,31,7500,NaN,no,yes,no,poor,no,yes,ckd
3,3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,...,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,4,51.0,80.0,1.010,2.0,0.0,normal,normal,notpresent,notpresent,...,35,7300,4.6,no,no,no,good,no,no,ckd
5,5,60.0,90.0,1.015,3.0,0.0,NaN,NaN,notpresent,notpresent,...,39,7800,4.4,yes,yes,no,good,yes,no,ckd
6,6,68.0,70.0,1.010,0.0,0.0,NaN,normal,notpresent,notpresent,...,36,NaN,NaN,no,no,no,good,no,no,ckd
7,7,24.0,NaN,1.015,2.0,4.0,normal,abnormal,notpresent,notpresent,...,44,6900,5,no,yes,no,good,yes,no,ckd
8,8,52.0,100.0,1.015,3.0,0.0,normal,abnormal,present,notpresent,...,33,9600,4.0,yes,yes,no,good,no,yes,ckd
9,9,53.0,90.0,1.020,2.0,0.0,abnormal,abnormal,present,notpresent,...,29,12100,3.7,yes,yes,no,poor,no,yes,ckd

In [3]:
dataset[['htn','dm','cad','pe','ane']] = dataset[['htn','dm','cad','pe','ane']].replace(to_replace={'yes':1,'no':0})
dataset[['rbc','pc']] = dataset[['rbc','pc']].replace(to_replace={'abnormal':1,'normal':0})
dataset[['pcc','ba']] = dataset[['pcc','ba']].replace(to_replace={'present':1,'notpresent':0})
dataset[['appet']] = dataset[['appet']].replace(to_replace={'good':1,'poor':0,'no':np.nan})
dataset['classification'] = dataset['classification'].replace(to_replace={'ckd':1.0,'ckd\t':1.0,'notckd':0.0,'no':0.0})
dataset.rename(columns={'classification':'class'},inplace=True)
dataset['pe'] = dataset['pe'].replace(to_replace='good',value=0)
dataset['appet'] = dataset['appet'].replace(to_replace='no',value=0)
dataset['cad'] = dataset['cad'].replace(to_replace='\tno',value=0)
dataset['dm'] = dataset['dm'].replace(to_replace={'\tno':0,'\tyes':1,' yes':1, '':np.nan})

In [4]:
dataset.head()

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,class
0,0,48.0,80.0,1.020,1.0,0.0,NaN,0.0,0.0,0.0,...,44,7800,5.2,1.0,1.0,0.0,1.0,0.0,0.0,1.0
1,1,7.0,50.0,1.020,4.0,0.0,NaN,0.0,0.0,0.0,...,38,6000,NaN,0.0,0.0,0.0,1.0,0.0,0.0,1.0
2,2,62.0,80.0,1.010,2.0,3.0,0.0,0.0,0.0,0.0,...,31,7500,NaN,0.0,1.0,0.0,0.0,0.0,1.0,1.0
3,3,48.0,70.0,1.005,4.0,0.0,0.0,1.0,1.0,0.0,...,32,6700,3.9,1.0,0.0,0.0,0.0,1.0,1.0,1.0
4,4,51.0,80.0,1.010,2.0,0.0,0.0,0.0,0.0,0.0,...,35,7300,4.6,0.0,0.0,0.0,1.0,0.0,0.0,1.0

### columns_names=
           {"bp":"blood_pressure",
          "sg":"specific_gravity",
          "al":"albumin",
          "su":"sugar",
          "rbc":"red_blood_cells",
          "pc":"pus_cell",
          "pcc":"pus_cell_clumps",
          "ba":"bacteria",
          "bgr":"blood_glucose_random",
          "bu":"blood_urea",
          "sc":"serum_creatinine",
          "sod":"sodium",
          "pot":"potassium",
          "hemo":"haemoglobin",
          "pcv":"packed_cell_volume",
          "wc":"white_blood_cell_count",
          "rc":"red_blood_cell_count",
          "htn":"hypertension",
          "dm":"diabetes_mellitus",
          "cad":"coronary_artery_disease",
          "appet":"appetite",
          "pe":"pedal_edema",
          "ane":"anemia"}

In [5]:
dataset.isnull().sum().sort_values(ascending=False)

rbc      152
rc       130
wc       105
pot       88
sod       87
pcv       70
pc        65
hemo      52
su        49
sg        47
al        46
bgr       44
bu        19
sc        17
bp        12
age        9
ba         4
pcc        4
htn        2
dm         2
cad        2
ane        1
appet      1
pe         1
class      0
id         0
dtype: int64

In [6]:
dataset['rbc'].value_counts()

0.0    201
1.0     47
Name: rbc, dtype: int64

In [7]:
dataset['rbc'].fillna(value = 1.0, inplace=True)

In [8]:
dataset['rbc'].value_counts()

0.0    201
1.0    199
Name: rbc, dtype: int64

In [9]:
pd.DataFrame(dataset['class'].value_counts())

     class
1.0    250
0.0    150

In [10]:
dataset = dataset[['bp', 'sg', 'al', 'su', 'rbc', 'pc', 'pcc', 'class']]

In [27]:
dataset.head()

     bp     sg   al   su  rbc   pc  pcc  class
0  80.0  1.020  1.0  0.0  1.0  0.0  0.0    1.0
1  50.0  1.020  4.0  0.0  1.0  0.0  0.0    1.0
2  80.0  1.010  2.0  3.0  0.0  0.0  0.0    1.0
3  70.0  1.005  4.0  0.0  0.0  1.0  1.0    1.0
4  80.0  1.010  2.0  0.0  0.0  0.0  0.0    1.0

In [12]:
dataset.isnull().sum()

bp       12
sg       47
al       46
su       49
rbc       0
pc       65
pcc       4
class     0
dtype: int64

In [13]:
dataset.dropna(axis=0 ,inplace=True)

In [14]:
dataset.isnull().sum()

bp       0
sg       0
al       0
su       0
rbc      0
pc       0
pcc      0
class    0
dtype: int64

In [15]:
dataset.shape

(321, 8)

In [16]:
cols = ['bp', 'sg', 'al', 'su', 'rbc', 'pc', 'pcc']
X = dataset[cols]
y = dataset['class']

In [17]:
y.shape

(321,)

In [18]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [19]:
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier()
model.fit(X_train, y_train)

RandomForestClassifier()

In [20]:
from sklearn.metrics import accuracy_score, confusion_matrix
y_pred = model.predict(X_test)
accuracy_score(y_test,y_pred)

1.0

In [21]:
confusion_matrix(y_test, y_pred)

array([[33,  0],
       [ 0, 48]])

In [22]:
model.predict([[80.0, 1.020, 1.0, 0.0, 1.0,0.0,0.0]])

array([1.])

In [25]:
import joblib
joblib.dump(model, 'kidney_model.pkl')

['kidney_model.pkl']